body {
    background-color: #353535 !important;
}
.header {
    font-size: 30px;
    margin-top: 10px;
    text-align: center;
    color: white;
}
.bpm{
    text-align:center;
    justify-content: center;
}
.keys{
    border: 0.4rem rgb(0, 0, 0);
    border-radius: .5rem;
    display: flex;
    text-align: center;
    font-size: 24px;
    justify-content: space-evenly;
    margin-top: 200px;
    min-height: 100vh;
}

#keyj{
    background-color: rgba(255, 217, 0, 0.493);
    height: 100px;
    width: 100px;
}
#keyf{
    background-color: rgba(0, 68, 255, 0.493);
    height: 100px;
    width: 100px;

}

kbd{
    display: block;
    margin-top: 30px;
    padding: 50px;
    font-size: 20px;
    background: none !important;
    user-select: none;
    pointer-events: none;
}

.key {
    transition: all 0.01s linear 0.01s
}

.pressed {
    transform: scale(1.1);
    border-color: #7e7e7e;
    box-shadow: 0 0 1rem #7e7e7e;
}

.beat1 {
    align-self: center;
    top: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ff5722;
    animation: beatAnimate 1s infinite;
    animation-timing-function: linear;
    margin-left: 30%;
    z-index: -10;
}
.beat2 {
    align-self: center;
    top: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ff5722;
    animation: beatAnimate 1s infinite;
    animation-timing-function: linear;
    margin-left: 65%;
    z-index: -10;

}

@keyframes beatAnimate {
    from {
      transform: translate3d(0, 0, 0);
    }
    to {
      transform: translate3d(0, 1000px, 0);
    }
  }

.copyright{
    float: left;
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: center;
	bottom: 3px;
	width: 100%;
    color: white;
	text-align: center;
	bottom: 3px;
	width: 100%;
}












































































